@model CLDVwebApplication.Models.productTable
@{
    ViewData["Title"] = "insertProducts";
}

<h1>Insert Products</h1>
<p>
    Please enter below the details of any product you wish to add.
</p>

<body>
<form action="insertProducts" method="post">
    <p>Insert new products</p>
    <input type="text" name="Name" placeholder="Name" required>
    <input type="text" name="Category" placeholder="Category" required>
    <input type="text" name="Price" placeholder="Price" required>
        <input type="text" name="Availability" placeholder="Availability" required>
    <button type="submit">Insert</button>
</form>
</body>