
@{
    ViewData["Title"] = "Home Page";
   
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Welcome to the Home Page!</h2>

<div class="welcome-message">
    <img src="~/content/35806909-welcoming-and-greetings-concept-with-welcome-word-and-sign-on-colorful-hanged-tags-isolated-on-white.jpg" width="100%" height="70%"/>
</div>
