@model CLDVwebApplication.Models.userTable
@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <p>If you don't have an account <a href="https://localhost:7082/User/signUp">Sign Up</a> for a new account.</p>
</div>

<body>
    <form action="Login" method="post">

        <p>Please enter your name and email:</p>
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="email" placeholder="example@gmail.com" required>
        <button type="submit">Submit</button>
    </form>

</body>